<!DOCTYPE html>
<html>

<head>
    <title>College Data</title>
</head>

<body>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Operation</th>
        </tr>

        <% students.forEach((college)=> { %>
            <tr>
                <td>
                    <%= college.name %>
                </td>
                <td>
                    <%= college.email %>
                </td>
                <td>
                    <a href="/ui/delete/<%= college._id %>">Delete</a>
                </td>
            </tr>
            <% }) %>
    </table>

</body>

</html>