<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>

    <h2>Student Login Form</h2>

    <form action="/submit" method="post">

        <label>Name:</label><br>
        <input type="text" name="name" placeholder="Enter Name">
        <br><br>

        <label>College:</label><br>
        <input type="text" name="college" placeholder="Enter College">
        <br><br>

           <label>Branch:</label><br>
        <input type="text" name="branch" placeholder="Enter Branch">
        <br><br>


           <label>Phone:</label><br>
        <input type="number" name="phone" placeholder="Enter Phone">
        <br><br>


        <button type="submit">Submit</button>

    </form>

</body>
</html>