<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>STUDENT PORTAL </h1>

    <h2>Name:<%=student.name %></h2>
    <h2>Age:<%=student.age %></h2>
    <h2>Course:<%=student.course %></h2>
        
</body>
</html>