<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>

    <h1>Form Submitted Successfully</h1>

    <h2>Name: <%= name %></h2>
    <h2>College: <%= college %></h2>
    <h3>Branch:<%= branch %></h3>
    <h3>Phone No.:<%= phone %></h3>

</body>
</html>