<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT PAGDE </title>
</head>
<body>
    <form method="post" action="">
        <input type="text" name="name" value="<%= result.name %>" placeholder="enter student name"/>
        <br/>
        <br/>
        <input type=text name="email"  value="<%= result.email %>" placeholder="enter email"/>
        <br/>
        <br/>
        <input type=text name="password"  value="<%= result.pasword %>" placeholder="enter password"/>
        <br/>
        
        <button>Update Student</button>
        </form>
</body>
</html>